<h2 mat-dialog-title>Edit User</h2>
<app-error [error]="errorMessage"></app-error>

<mat-dialog-content [formGroup]="form">

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="User Name" formControlName="Name">
        <mat-error *ngIf="name.invalid">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="Email">
        <mat-error *ngIf="email.invalid">Invalid Email value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Hash</mat-label>
        <input matInput placeholder="User Hash" formControlName="Hash">
        <mat-error *ngIf="name.invalid">Hash is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select matNativeControl formControlName="RoleID">
          <mat-option *ngFor="let role of roles" [value]="role.ID">{{role.Role}}</mat-option>
        </mat-select>
        <mat-error *ngIf="role.invalid">Role is required</mat-error>
      </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
    <div>
        <button class="mat-accent" mat-mini-fab aria-label="delete" (click)="delete()" *ngIf="user.ID">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div>
        <button mat-raised-button (click)="close()">
            Close
        </button>

        <button mat-raised-button color="primary" class="save" #saveButton [color] (click)="save()" [disabled]="form.invalid || !form.dirty">
            Save
        </button>
    </div>

</mat-dialog-actions>