<!-- <div class="contact-item" *ngFor="let contact of contacts">
    <p>{{contact.ID}}</p> <span>{{contact.Name}}</span>
  </div> -->

<div class="mat-elevation-z8">
    <mat-table [dataSource]="leads$ | async">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" [routerLink]="['/leads', element.ID]" class="item-name"><span>{{element.Name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="step">
            <mat-header-cell *matHeaderCellDef> Step </mat-header-cell>
            <mat-cell *matCellDef="let element"><span>{{element.Step.Name}}</span>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span>{{element.Contact.Name}}</span>
                <span>{{element.Contact.Phone || element.Contact.SecondPhone}}</span>
            </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="additional">
            <mat-header-cell *matHeaderCellDef> Additional </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="element.Contact.SecondPhone">{{element.Contact.SecondPhone}}</span>
                <span *ngIf="element.Contact.Email">{{element.Contact.Email}}</span>
            </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="responsible">
            <mat-header-cell *matHeaderCellDef> Responsible </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Responsible?.Name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Contact.City}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="source">
            <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Source?.Name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.CreatedAt | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updated">
            <mat-header-cell *matHeaderCellDef> Updated </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.UpdatedAt | date}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="total$ | async" [pageSize]="filter.limit" aria-label="Select page"
        (page)="pageChanged($event)">
    </mat-paginator>
</div>