mat-card-content
    display: flex
    flex-direction: column
    align-items: stretch
.double
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    column-gap: 16px
    align-items: stretch
.lead-container
    display: flex
    flex-direction: column
    gap: 16px
// ::ng-deep.mat-select-panel
//     max-height: none !important