mat-card-content
    display: flex
    flex-direction: column
    align-items: stretch
.lead-container
    display: flex
    flex-direction: column
    gap: 16px
mat-card-actions
    display: flex
    justify-content: space-between
.deleted
    text-decoration: line-through !important