<div *ngIf="lead" class="lead-container">
    <mat-card [formGroup]="form" *ngIf="form" [ngClass]="{'deleted': lead.DeletedAt}">
        <app-error [error]="errorMessage"></app-error>
        <mat-card-content>
            <!-- <mat-card-title>{{lead.Name}} {{lead.SecondName}}</mat-card-title>
      <mat-card-subtitle>{{lead.ID}}</mat-card-subtitle> -->
            <div class="double mat-small">
                <div [matTooltip]="createdBy">{{lead.CreatedAt | date}}</div>
                <a [routerLink]="['/leads', lead.ID]" [title]="lead.ID">{{lead.Name}}</a>
            </div>

            <mat-form-field appearance="standard" class="item-name">
                <input matInput placeholder="Lead Title" formControlName="Name" (keydown.enter)="save()">
                <mat-error *ngIf="name.invalid">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" *ngIf="showSource">
                <mat-label>Source</mat-label>
                <mat-select matNativeControl formControlName="SourceID" (selectionChange)="save()">
                    <mat-option *ngFor="let source of sources" [value]="source.ID">{{source.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="source.invalid">Source is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Step</mat-label>
                <mat-select matNativeControl formControlName="StepID" (selectionChange)="stepChanged($event)">
                    <mat-option *ngFor="let item of steps" [value]="item.ID" ngClass="step-{{item.Order}}">
                        {{item.Name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="step.invalid">Step is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="resp-name">
                <mat-label>Responsible</mat-label>
                <mat-select matNativeControl formControlName="ResponsibleID" (selectionChange)="responsibleChanged()">
                    <mat-option *ngFor="let user of users" [value]="user.ID">{{user.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="resp.invalid">Responsible is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Products</mat-label>
                <mat-select matNativeControl formControlName="ProductID" (selectionChange)="save()">
                    <mat-option *ngFor="let item of products" [value]="item.ID">{{item.Name}}</mat-option>
                </mat-select>
                <mat-error>Product is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Manufacturers</mat-label>
                <mat-select matNativeControl formControlName="ManufacturerID" (selectionChange)="save()">
                    <mat-option *ngFor="let item of manufacturers" [value]="item.ID">{{item.Name}}</mat-option>
                </mat-select>
                <mat-error>Manufacturer is required</mat-error>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save()"
                [disabled]="form.invalid || !form.dirty">Save</button>
            <button color="accent" mat-icon-button (click)="delete()" *ngIf="lead.ID"
                [disabled]="lead.DeletedAt || !auth.isAdmin">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="saving"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <app-analytics [analytics]="lead.Analytics"></app-analytics>

    <app-contact-data [contact]="contact$ | async" (anotherContact)="relinkContact($event)"></app-contact-data>
</div>
