mat-card-content
    display: flex
    flex-direction: column
    align-items: stretch
.double
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    column-gap: 16px
    align-items: stretch
mat-card
    margin-bottom: 16px
