:host
    display: flex
    flex-flow: row nowrap
    gap: 16px
mat-icon
    align-self: center
mat-form-field
    width: 460px
.second
    width: 640px
mat-selection-list
    padding-top: 0
.results
    display: flex
    flex-flow: column nowrap
    background-color: #fff
    color: rgba(0,0,0,.87)
    width: 100%
.leads .mat-line, .one-line
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    text-overflow: ellipsis
    white-space: nowrap
mat-divider
    margin: 8px
.show
    text-align: right


