:host
    display: flex
    flex-flow: row nowrap
    gap: 1em
    margin-top: -0.8em
    max-width: 360px
:host, form, mat-form-field
    width: 100%
mat-icon
    align-self: center
mat-selection-list
    padding-top: 0
.results
    display: flex
    flex-flow: column nowrap
    background-color: #fff
    color: rgba(0,0,0,.87)
    width: 100%
.leads .mat-line, .one-line
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    text-overflow: ellipsis
    white-space: nowrap
mat-divider
    margin: 8px
.show
    text-align: right
@media (min-width:60em)
    .second
        width: 40em

