<mat-form-field appearance="standard">
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="pickerFrom" readonly [formControl]="fromControl">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matPrefix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="pickerTo" readonly [formControl]="toControl">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matPrefix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
</mat-form-field>