<mat-form-field appearance="standard">
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="pickerFrom" readonly (dateChange)="from($event)" [value]="this.minDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matPrefix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="standard">
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="pickerTo" readonly (dateChange)="to($event)" [value]="this.maxDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matPrefix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
</mat-form-field>