<div class="double mat-small">
    <div>{{transfer.CreatedAt | date}}</div>
    <div><user-name [id]="transfer.CreatedBy"></user-name></div>
</div>
<app-error [error]="errorMessage"></app-error>

<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill" *ngIf="form.value.From">
        <mat-label>From</mat-label>
        <mat-select matNativeControl formControlName="From">
            <mat-option *ngFor="let item of wallets$ | async" [value]="item.ID">{{item.Name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="form.value.To">
        <mat-label>To</mat-label>
        <mat-select matNativeControl formControlName="To">
            <mat-option *ngFor="let item of wallets$ | async" [value]="item.ID">{{item.Name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount" formControlName="Amount" type="number">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput placeholder="Category" formControlName="Category">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="Description">
    </mat-form-field>

    <div *ngIf="transfer.Completed">
        {{transfer.CompletedAt | date}} completed by <user-name [id]="transfer.CompletedBy"></user-name>
    </div>
    <div *ngIf="transfer.DeletedAt">
        {{transfer.DeletedAt | date}} deleted by <user-name [id]="transfer.DeletedBy"></user-name>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions class="double">
    <div>
        <button mat-raised-button (click)="close()">
            Close
        </button>

        <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid || !form.dirty || same">
            Save
        </button>
    </div>
    <div>
        <button mat-icon-button color="primary" (click)="complete()" [disabled]="form.invalid || same || form.disabled">
            <mat-icon>done</mat-icon>
        </button>
        <button color="accent" mat-icon-button (click)="delete()" *ngIf="transfer.ID" [disabled]="transfer.DeletedAt">
            <mat-icon>close</mat-icon>
        </button>
    </div>

</mat-dialog-actions>