<app-task [task]="task" *ngFor="let task of tasks" (taskUpdated)="taskUpdated($event)">{{task | json}}</app-task>
<mat-card [formGroup]="form">
    <mat-card-content>
        <mat-form-field appearance="fill">
            <textarea [rows]="5" maxlength="1024" matInput placeholder="Description" formControlName="Description"></textarea>
            <mat-error *ngIf="desc.invalid">Description is required</mat-error>
        </mat-form-field>
        <div class="double">
            <button mat-raised-button color="primary" class="save" #saveButton [color] (click)="save()"
                [disabled]="form.invalid || !form.dirty">
                Save
            </button>
            <mat-form-field appearance="standard">
                <input matInput [matDatepicker]="picker" formControlName="Deadline">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>