<div class="selectors">
    <div class="date-selector">
        <app-date-selector [minDate]="minDate" [maxDate]="maxDate"></app-date-selector>
        <mat-form-field appearance="standard">
            <mat-label>Wallet</mat-label>
            <mat-select matNativeControl [formControl]="walletControl">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let item of wallets$ | async" [value]="item.ID">{{item.Name}} {{item.Balance}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Category</mat-label>
            <mat-select matNativeControl [formControl]="categoryControl">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let category of categories$ | async" [value]="category">{{category}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="actions">
        <button mat-icon-button (click)="transfer(false,true)" color="primary">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="transfer(true, false)" color="accent">
            <mat-icon>remove</mat-icon>
        </button>
        <button mat-icon-button (click)="transfer(true, true)" color="primary">
            <mat-icon>swap_horiz</mat-icon>
        </button>
    </div>
</div>
<app-transfers-table [transfers]="transfers$ | async" (pageChangedEvent)="pageChanged($event)"></app-transfers-table>