mat-toolbar-row
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    gap: 1em
.left
    overflow: hidden
.right
    flex-grow: 1
    justify-content: flex-end
.logo
    cursor: pointer
    overflow: hidden
    text-overflow: ellipsis
.side-nav
    button
        display: block
        margin: 12px
.side
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 1em
    max-height: 46px
mat-drawer-content
    padding: 1em
@media (min-width:40em)
    .mobile-only
        display: none
@media (max-width:40em)
    .full-only
        display: none