mat-toolbar
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    vertical-align: center
.logo
    vertical-align: middle
    cursor: pointer
.side-nav
    button
        display: block
        margin: 12px
.left-side
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 16px
.right-side
    display: flex
    flex-flow: row nowrap
    align-items: center
    gap: 16px
mat-drawer-content
    padding: 16px