<mat-list>
    <mat-list-item *ngFor="let item of sources">
        <!-- <mat-icon mat-list-icon>person</mat-icon> -->
        <div mat-line><span>{{item.Name}}</span><span>{{item.CreatedAt | date}}</span></div>
        <button mat-icon-button (click)="editItem(item)">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-list-item>
    <div class="actions">
        <button mat-icon-button (click)="editItem()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-list>