<h2 mat-dialog-title>Edit Manufacturer</h2>
<app-error [error]="errorMessage"></app-error>

<mat-dialog-content [formGroup]="form">

    <mat-form-field appearance="fill">
        <input matInput placeholder="Name" formControlName="Name">
        <mat-error *ngIf="name.invalid">Name is required</mat-error>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <div>
        <button class="mat-accent" mat-mini-fab aria-label="delete" (click)="delete()" *ngIf="item.ID">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div>
        <button mat-raised-button (click)="close()">
            Close
        </button>

        <button mat-raised-button color="primary" class="save" #saveButton [color] (click)="save()"
            [disabled]="form.invalid || !form.dirty">
            Save
        </button>
    </div>

</mat-dialog-actions>