<mat-tab-group>
    <mat-tab label="Users">
        {{this.users | json}}
    </mat-tab>
    <mat-tab label="Roles">
        {{this.roles | json}}
    </mat-tab>
    <mat-tab label="Steps">
        {{this.steps | json}}
    </mat-tab>
    <mat-tab label="Sources">
        {{this.sources | json}}
    </mat-tab>
    <mat-tab label="Tags">
        {{this.tags | json}}
    </mat-tab>
    <mat-tab label="Task Types">
        {{this.taskTypes | json}}
    </mat-tab>
    <mat-tab label="Products">
        {{this.products | json}}
    </mat-tab>
    <mat-tab label="Manufacturers">
        {{this.manufactureres | json}}
    </mat-tab>

  </mat-tab-group>