.current
    margin-top: 16px
@media (min-width: 460px)
    .current
        display: grid
        grid-template-columns: repeat(3, minmax(0, 1fr))
        gap: 1rem
        justify-items: stretch
    .date-selector
        display: flex
        flex-flow: row nowrap
        gap: 16px
        justify-content: space-around
mat-form-field
    width: 100%
    max-width: 320px
h2
    text-align: center
.single-col
    max-width: 480px
    margin: 0 auto