<app-error [error]="errorMessage"></app-error>
<mat-card>
    <div class="double mat-small">
        <div>{{task.CreatedAt | date}}</div>
        <div>Responsible: <span class="resp-name">{{task.Responsible.Name}}</span></div>
    </div>
    <mat-card-content>
        <div *ngIf="clickable; else defaultBlock"><span class="resp-name">{{task.Created.Name || 'Auto'}}</span>:&nbsp;<a [routerLink]="[parentRoute, task.ParentID]"><span [innerText]="task.Description"></span></a></div>
        <div *ngIf="task.Results" class="results">
            <div>{{task.Results}}</div>
            <div>
                <div>{{task.UpdatedAt | date}}</div>
                <div class="resp-name">{{task.Updated.Name}}</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="showForm" class="double">
        <div class="actions">
            <button mat-icon-button color="primary" (click)="save()" [disabled]="results.invalid || !results.dirty">
                <mat-icon>done</mat-icon>
            </button>
            <mat-form-field appearance="standard">
                <input matInput placeholder="Results" [formControl]="results" (keydown.enter)="save()">
            </mat-form-field>
        </div>
        <div [ngClass]="getClass(task.DeadLine)">{{task.DeadLine | date}}</div>
    </mat-card-footer>
</mat-card>

<ng-template #defaultBlock>
    <span class="resp-name">{{task.Created.Name || 'Auto'}}</span>:&nbsp;<span [innerText]="task.Description"></span>
</ng-template>