<mat-list>
    <div mat-subheader>Users</div>
    <mat-list-item *ngFor="let user of users">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line><span>{{user.Name}}</span><span>{{user.Email}}</span></div>
        <div mat-line><span>{{user.Role.Role}}</span><span>{{user.CreatedAt | date}}</span></div>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>

    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Roles</div>
    <mat-list-item *ngFor="let role of roles">
        <mat-icon mat-list-icon>people</mat-icon>
        <div mat-line><span>{{role.Role}}</span><span>{{role.CreatedAt | date}}</span></div>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
    </mat-list-item>
    
</mat-list>