@import "src/_variables.sass"
.steps
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    gap: 12px
.step
    flex: 1 1 0
    width: 0
h2
    text-align: center
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
mat-divider
    margin-bottom: 16px