<mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Users & Roles">
        <app-roles [users]="this.users$ | async" [roles]="this.roles$ | async"></app-roles>
    </mat-tab>
    <mat-tab label="Steps">
        <app-steps [steps]="this.steps$ | async"></app-steps>
    </mat-tab>
    <mat-tab label="Sources">
        <app-sources></app-sources>
    </mat-tab>
    <mat-tab label="Tags">
        <app-tags></app-tags>
    </mat-tab>
    <mat-tab label="Task Types">
        <app-task-types></app-task-types>
    </mat-tab>
    <mat-tab label="Products">
       <app-products></app-products>
    </mat-tab>
    <mat-tab label="Manufacturers">
        <app-manufs></app-manufs>
    </mat-tab>

  </mat-tab-group>